{% extends "base.html" %}

{% block titulo %} Agregar canción {% endblock %}

{% block contenido_principal %}
<h2>Modificar canción</h2>
<form action="/cancion/modificar/{{ cancion._id.toString() }}" class="form-horizontal" encType="multipart/form-data"
      method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10">
            <input class="form-control" name="nombre" placeholder="Nombre de mi canción"
                   required="true" type="text"
                   value="{{ cancion.nombre }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="genero">Genero:</label>
        <div class="col-sm-10">
            <select class="form-control" name="genero" required="true">
                <option value="pop">Pop</option>
                <option value="folk">Folk</option>
                <option value="rock">Rock</option>
                <option value="reagge">Reagge</option>
                <option value="rap">Hip-hop Rap</option>
                <option value="latino">Latino</option>
                <option value="blues">Blues</option>
                <option value="otros">Otros</option>
                <script> document.getElementById("{{ cancion.genero }}").selected = "true"; </script>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio (€):</label>
        <div class="col-sm-10">
            <input class="form-control" name="precio" placeholder="2.50" required="true"
                   step="0.01" type="number" value="{{ cancion.precio }}"/>
        </div>
    </div>
    <div class=" form-group">
        <label class="control-label col-sm-2" for="portada">Imagen portada:</label>
        <div class="col-sm-10">
            <img alt="logo" src="/portadas/{{ cancion._id.toString() }}.png"/>
            <input accept=".png" class="custom-file-input" name="portada"
                   type="file"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="audio">Fichero audio:</label>
        <div class="col-sm-10">
            <audio controls>
                <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
            </audio>
            <input accept=".mp3" class="custom-file-input" name="audio"
                   type="file"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Modificar</button>
        </div>
    </div>
</form>
{% endblock %}